
  <div class='container-fluid' style='position: fixed; width: 100%;'>
    <div class='row'>
      <div class='col-sm-1 tothefloor'>
      </div>
      <div class='col-sm-1 lightgrey tothefloor'>
      </div>
      <div class='col-sm-1 darkgrey tothefloor'>
      </div>
      <div class='col-sm-1 black tothefloor'>
      </div>
      <div class='col-sm-1 red tothefloor'>
      </div>
      <div class='col-sm-1 orange tothefloor'>
      </div>
      <div class='col-sm-1 yellow tothefloor'>
      </div>
      <div class='col-sm-1 lightgreen tothefloor'>
      </div>
      <div class='col-sm-1 green tothefloor'>
      </div>
      <div class='col-sm-1 skyblue tothefloor'>
      </div>
      <div class='col-sm-1 blue tothefloor'>
      </div>
      <div class='col-sm-1 indigo tothefloor'>
      </div>
    </div>
  </div>
    
    <div id='oslider''>
      <label style='margin-right: 15px; color: white;'>Opacity:</label><input class='slider'>
    </div>
    <div class='container-fluid'>
      <br>
      <div class='row'>
        <small class='caption'>normal:</small>
        <%= render "blendpartial" %>
      </div>
      <div class='row' style='mix-blend-mode: multiply;'>
        <small class='caption'>multiply:</small>
        <%= render "blendpartial" %>
      </div>
      <div class='row' style='mix-blend-mode: screen;'>
        <small class='caption'>screen:</small>
        <%= render "blendpartial" %>
      </div>
      <div class='row' style='mix-blend-mode: overlay;'>
        <small class='caption'>overlay:</small>
        <<%= render "blendpartial" %>
      </div>
      <div class='row' style='mix-blend-mode: darken;'>
        <small class='caption'>darken:</small>
        <%= render "blendpartial" %>
      </div>
      <div class='row' style='mix-blend-mode: lighten;'>
        <small class='caption'>lighten:</small>
        <%= render "blendpartial" %>
      </div>
      <div class='row' style='mix-blend-mode: color-dodge;'>
        <small class='caption'>color-dodge:</small>
        <%= render "blendpartial" %>
      </div>
      <div class='row' style='mix-blend-mode: color-burn;'>
        <small class='caption'>color-burn:</small>
        <%= render "blendpartial" %>
      </div>
      <div class='row' style='mix-blend-mode: hard-light;'>
        <small class='caption'>hard-light:</small>
        <%= render "blendpartial" %>
      </div>
      <div class='row' style='mix-blend-mode: soft-light;'>
        <small class='caption'>soft-light:</small>
        <%= render "blendpartial" %>
      </div>
      <div class='row' style='mix-blend-mode: difference;'>
        <small class='caption'>difference:</small>
        <%= render "blendpartial" %>
      </div>
      <div class='row' style='mix-blend-mode: exclusion;'>
        <small class='caption'>exclusion:</small>
        <%= render "blendpartial" %>
      </div>
      <div class='row' style='mix-blend-mode: hue;'>
        <small class='caption'>hue:</small>
        <%= render "blendpartial" %>
      </div>
      <div class='row' style='mix-blend-mode: saturation;'>
        <small class='caption'>saturation:</small>
        <%= render "blendpartial" %>
      </div>
      <div class='row' style='mix-blend-mode: color;'>
        <small class='caption'>color:</small>
        <%= render "blendpartial" %>
      </div>
      <div class='row' style='mix-blend-mode: luminosity;'>
      <small class='caption'>luminosity:</small>
        <%= render "blendpartial" %>
        </div>
      </div>

    </div>


<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-slider/9.4.0/bootstrap-slider.min.js"></script>
<!--     think about: sliders for opacity
    click on and off blending mode
    slader to move text left and right to see different colors on different backgrounds -->

