
  <div class='container-fluid' style='position: fixed; width: 100%;'>
    <div class='row'>
      <div class='col-sm-1 tothefloor'>
      </div>
      <div class='col-sm-1 lightgrey tothefloor'>
      </div>
      <div class='col-sm-1 darkgrey tothefloor'>
      </div>
      <div class='col-sm-1 black tothefloor'>
      </div>
      <div class='col-sm-1 red tothefloor'>
      </div>
      <div class='col-sm-1 orange tothefloor'>
      </div>
      <div class='col-sm-1 yellow tothefloor'>
      </div>
      <div class='col-sm-1 lightgreen tothefloor'>
      </div>
      <div class='col-sm-1 green tothefloor'>
      </div>
      <div class='col-sm-1 skyblue tothefloor'>
      </div>
      <div class='col-sm-1 blue tothefloor'>
      </div>
      <div class='col-sm-1 indigo tothefloor'>
      </div>
    </div>
  </div>


    <div class='container-fluid'>
      <input class='slider'>
      <div class='row'>
        <small class='caption'>normal:</small>
        <%= render "blendpartial" %>
      </div>
      <div class='row' style='mix-blend-mode: multiply;'>
        <small style='position: absolute'>multiply:</small>
        <%= render "blendpartial" %>
      </div>
      <div class='row' style='mix-blend-mode: screen;'>
        <small style='position: absolute'>screen:</small>
        <%= render "blendpartial" %>
      </div>
      <div class='row' style='mix-blend-mode: overlay;'>
        <small style='position: absolute'>overlay:</small>
        <<%= render "blendpartial" %>
      </div>
      <div class='row' style='mix-blend-mode: darken;'>
        <small style='position: absolute'>darken:</small>
        <%= render "blendpartial" %>
      </div>
      <div class='row' style='mix-blend-mode: lighten;'>
        <small style='position: absolute'>lighten:</small>
        <%= render "blendpartial" %>
      </div>
      <div class='row' style='mix-blend-mode: color-dodge;'>
        <small style='position: absolute'>color-dodge:</small>
        <%= render "blendpartial" %>
      </div>
      <div class='row' style='mix-blend-mode: color-burn;'>
        <small style='position: absolute'>color-burn:</small>
        <%= render "blendpartial" %>
      </div>
      <div class='row' style='mix-blend-mode: hard-light;'>
        <small style='position: absolute'>hard-light:</small>
        <%= render "blendpartial" %>
      </div>
      <div class='row' style='mix-blend-mode: soft-light;'>
        <small style='position: absolute'>soft-light:</small>
        <%= render "blendpartial" %>
      </div>
      <div class='row' style='mix-blend-mode: difference;'>
        <small style='position: absolute'>difference:</small>
        <%= render "blendpartial" %>
      </div>
      <div class='row' style='mix-blend-mode: exclusion;'>
        <small style='position: absolute'>exclusion:</small>
        <%= render "blendpartial" %>
      </div>
      <div class='row' style='mix-blend-mode: hue;'>
        <small style='position: absolute'>hue:</small>
        <%= render "blendpartial" %>
      </div>
      <div class='row' style='mix-blend-mode: saturation;'>
        <small style='position: absolute'>saturation:</small>
        <%= render "blendpartial" %>
      </div>
      <div class='row' style='mix-blend-mode: color;'>
        <small style='position: absolute'>color:</small>
        <%= render "blendpartial" %>
      </div>
      <div class='row' style='mix-blend-mode: luminosity;'>
      <small style='position: absolute'>luminosity:</small>
        <%= render "blendpartial" %>
        </div>
      </div>

    </div>


<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-slider/9.4.0/bootstrap-slider.min.js"></script>
<!--     think about: sliders for opacity
    click on and off blending mode
    slader to move text left and right to see different colors on different backgrounds -->

